<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="../css/externo.css" ‌​>
    <title>Página Inicial YUMMY Receitas</title>
</head>

<body>

    <header id="menuLogado" class="hide">
        <nav class="ui menu stackable">
            <header class="header item" id="logo">
                <i class="food icon"></i>
                <strong>YUMMY!</strong>
            </header>
            <div class="item item-menu" id="">Logado(a) como: <span id="nomeLogado"></span></div>
            <div class="item">
                <button class="ui primary button teal" id="logoutBtn">Logout</button>
            </div>
            <div class="right menu">
                <div class="item">
                    <button class="ui primary button" id="novaRec">Criar nova receita</button>
                </div>
                <div class="item">
                    <div class="ui search" id="buscaReceitas">
                        <div class="ui icon input">
                            <input id="buscaReceitasInput" class="prompt" type="text" placeholder="Buscar receitas...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <header id="menuDeslogado" class="hide">
        <nav class="ui menu stackable">
            <header class="header item" id="logo">
                <i class="food icon"></i>
                <strong>YUMMY!</strong>
            </header>
            <a class="item item-menu" href="../landing_page.html">Home</a>
            <a class="item item-menu" href="./login.html">Login</a>
            <a class="item item-menu" href="./cadastro.html">Registrar</a>
        </nav>
    </header>

    <section class="ui grid container stackable" id="section-principal">
        <!-- CONTEÚDO -->
        <section class="sixteen wide column">
            <div class="ui positive message hidden">
                <i class="close icon"></i>
                <div class="header">
                    Login efetuado com sucesso!
                </div>
                <p>Seja bem vindo(a) <b id='nomeUserMssg'></b>!</p>
            </div>
        </section>

        <section class="eleven wide column" id="conteudoPrincipal">
            <!-- CONTEÚDO PRINCIPAL -->

            <nav class="ui pointing six item menu">
                <a class="item item-menu" href="./inicial.html">
                        Home
                    </a>
                <a class="item item-menu" href="./carnes.html">
                        Carnes
                    </a>
                <a class="item item-menu" href="./massas.html">
                        Massas
                    </a>
                <a class="item item-menu active">
                        Sobremesas
                    </a>
                <a class="item item-menu" href="./culTip.html">
                        Culinárias Típicas
                    </a>
                <a class="item item-menu" href="./drinks.html">
                        Drinks
                    </a>
            </nav>

            <section class="ui attached segments">
                <header class="ui top attached segment center aligned">
                    <h2>Receitas mais recentes</h2>
                </header>

                <div class="ui attached segment" id="scrolling-seg-principal">
                    <div class="ui divided items" id='itemsPagCat'>

                    </div>
                </div>

            </section>
        </section>

        <aside class="five wide column center aligned">
            <!-- CONTEÚDO RELACIONADO -->
            <div class="ui attached segments">

                <div class="ui top attached segment center aligned">
                    <h3>Últimos vídeos adicionados</h3>
                </div>

                <div class="ui attached segment videos" id="videoSeg">
                </div>
            </div>
        </aside>
    </section>


    <footer class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <section class="nine wide column">
                    <h4 class="ui inverted header">Desenvolvedores</h4>
                    <div class="ui inverted link list">
                        <p class="item">Caio Ferraresi Ananias - 9039354</p>
                        <p class="item">Fernando Menzzano - 8936523</p>
                        <p class="item">Thomás Michelena Santos - 6907857</p>
                    </div>
                </section>
                <section class="seven wide column">
                    <h4 class="ui inverted header">Links interessantes</h4>
                    <p class="item"><a class="item" href="http://www.icouldkillfordessert.com.br/">ICKFD</a>
                        <p class="item"><a class="item" href="https://www.youtube.com/user/nocedanielle/featured">Dani Noce</a>
                            <p class="item"><a class="item" href="https://www.tastemade.com.br/receitas">Tastemade</a>
                </section>
            </div>
            <div class="ui inverted section divider"></div>
            <section>
                <div class="ui centered">
                    <i class="large food icon"></i>
                </div>
                <div class="ui horizontal inverted small divided link list">
                    <p class="item item-footer"><strong>YUMMY!</strong></p>
                </div>
            </section>
        </div>
    </footer>

    <section class="ui small modal scrolling transition hidden" id="modalNovaReceita">
        <header class="header modal-header">
            Nova receita:
        </header>

        <section class="ui center aligned grid">
            <div class="ui segment" id="segment-form-novaRec">
                <div class="content">
                    <form class="ui form novaRec">
                        <div class="field">
                            <label>Autor</label>
                            <p id='autorReceita'></p>
                        </div>
                        <div class="field">
                            <label>Nome da receita</label>
                            <input type="text" placeholder="Nome da receita" id="nomeReceita" maxlength="50" />
                        </div>
                        <div class="field">
                            <label>Descrição</label>
                            <textarea id="descricaoReceita" name="descricao" maxlength="300" id="" cols="25" rows="5" placeholder="Descrição da receita"></textarea>
                        </div>

                        <div class="ui two column grid">
                            <div class="row row-mgbt">
                                <div class="column">
                                    <div class="field">
                                        <label>Imagens</label>
                                        <input id="imagemReceita" type="file" multiple/>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label>Vídeo</label>
                                        <input id="videoReceita" type="text" placeholder='Link para o video' />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Categorias</label>
                            <select id="categoriasReceita" class="ui fluid search dropdown" multiple="">
                                    <option value="">Categorias: selecione quantas achar necessário</option>
                                    <option value="Carnes">Carnes</option>
                                    <option value="Massas">Massas</option>
                                    <option value="Sobremesas">Sobremesas</option>
                                    <option value="Culinárias Típicas">Culinárias Típicas</option>
                                    <option value="Drinks">Drinks</option>
                                </select>
                        </div>

                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="field">
                                        <label>Tempo de preparo</label>
                                        <input id="tempoReceita" type="text" placeholder="Tempo de preparo em minutos" />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label>Método de cozimento</label>
                                        <select id="cozimentoReceita" class="ui fluid search dropdown">
                                                <option value="">Selecione um:</option>
                                                <option value="Assado">Assado</option>
                                                <option value="Cozido">Cozido</option>
                                                <option value="Grelhado">Grelhado</option>
                                                <option value="Frito">Frito</option>
                                                <option value="Nao vai ao forno">Não vai ao forno</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui two column grid mgwrng">
                            <div class="row row-mgbt">
                                <div class="column">
                                    <div class="field">
                                        <label>Valor nutricional</label>
                                        <input id="nutricionalReceita" type="text" placeholder="Calorias" />
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="field">
                                        <label>Porções</label>
                                        <input id="porcoesReceita" type="text" placeholder="Serve quantas pessoas?" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui accordion field">
                            <label>Ingredientes</label>

                            <div class="ui container hide" id="listaIngredientes">
                                <ul>

                                </ul>
                            </div>

                            <div class="title">
                                <button class="ui teal button" id="novoIngrediente" type="button">
                                        Adicionar novo
                                    </button>
                            </div>
                            <div class="content field">
                                <div class="ui three column grid transition hidden">
                                    <div class="row">
                                        <div class="column">
                                            <label class="">Ingrediente</label>
                                            <input placeholder="Ingrediente" class="" type="text" id='novoIngr'>
                                        </div>
                                        <div class="column">
                                            <label class="">Quantidade</label>
                                            <input placeholder="Quantidade" class="" type="text" id="quantIngr">
                                        </div>
                                        <div class="column">
                                            <label class="">Unidade</label>
                                            <input placeholder="Unidade" class="" type="text" id="unidadeIngr">
                                        </div>
                                        <div class="column right floated">
                                            <div class="ui tiny right floated buttons">
                                                <button class="ui button" id="cancelaNovoIngr" type="button">Cancelar</button>
                                                <div class="or" data-text="ou"></div>
                                                <button class="ui teal button" id="salvaNovoIngr" type="button">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label>Instruções de preparo</label>
                            <textarea id="instrucoesReceita" name="" maxlength="800 " id="" cols="25" rows="10"></textarea>
                        </div>

                    </form>
                </div>
            </div>
        </section>

        <div class="actions">
            <div class="ui cancel button">Cancelar</div>
            <div class="ui teal approve button" id="salvarReceita">Salvar</div>
        </div>
    </section>

    <section class="ui longer test modal scrolling transition hidden" id="modalDetalhes">

    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="../js/externo.js"></script>
    <script>
        $(function () {
            firebase.database().ref('categorias/Sobremesas').once('value').then(function (snapshot) {
                var chavesCat = Object.keys(snapshot.val());
                criarItems(chavesCat, 'itemsPagCat');
            });
        });

        $('.form.novaRec').form({
            on: 'blur',
            inline: 'true',
            fields: {
                nomeReceita: {
                    identifier: 'nomeReceita',
                    rules: [
                        {
                            type: 'maxLength[50]',
                            prompt: 'O nome da receita deve conter menos de 50 caracteres'
                        },
                        {
                            type: 'regExp[/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\(\)!.,?:;# ]+$/]',
                            prompt: 'O nome da receita deve conter apenas caracteres válidos de texto'
                        }
                    ]
                },
                descricaoReceita: {
                    identifier: 'descricaoReceita',
                    rules: [
                        {
                            type: 'maxLength[300]',
                            prompt: 'A descrição da receita deve conter menos de 300 caracteres'
                        },
                        {
                            type: 'regExp[/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\(\)!.,?:;# ]+$/]',
                            prompt: 'A descrição da receita deve conter apenas caracteres válidos de texto'
                        }
                    ]
                },
                tempoReceita: {
                    identifier: 'tempoReceita',
                    rules: [
                        {
                            type: 'regExp[/^[0-9]*$/]',
                            prompt: 'Forneça um número inteiro'
                        }
                    ]
                },
                instrucoesReceita: {
                    identifier: 'instrucoesReceita',
                    rules: [
                        {
                            type: 'maxLength[800]',
                            prompt: 'As instruções da receita devem conter menos de 800 caracteres'
                        },
                        {
                            type: 'regExp[/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\(\)!.,?:;# ]+$/]',
                            prompt: 'As instruções da receita devem conter apenas caracteres válidos de texto'
                        }
                    ]
                },
                porcoesReceita: {
                    identifier: 'porcoesReceita',
                    rules: [
                        {
                            type: 'regExp[/^[0-9]*$/]',
                            prompt: 'Forneça um número inteiro'
                        }
                    ]
                },
                nutricionalReceita: {
                    identifier: 'nutricionalReceita',
                    rules: [
                        {
                            type: 'regExp[/^[0-9]*$/]',
                            prompt: 'Forneça um número inteiro'
                        }
                    ]
                },
            },
        });

        if (localStorage.message) {
            $('.ui.positive.message').removeClass('hidden');
            localStorage.removeItem('message');
            setTimeout(function () {
                $('.ui.positive.message')
                    .closest('.message')
                    .transition('fade');
                setTimeout(function () {
                    $('.ui.positive.message').addClass('hidden');
                }, 1000)
            }, 10000)
        }

        criarVideos();
    </script>

</body>

</html>